// font size
$font-size__title: 50px;
$font-size__small: 14px;

// font family
$font-family__default: dnp-shuei-nmincho-std, "Courier New", "MS PGothic", sans-serif;
// width
$width__home-contents-side: 150px;
$width__home-contents-main: 480px;
$width__home-contents-works: 230px;
$width__home-contents: $width__home-contents-side + $width__home-contents-main + $width__home-contents-works + 80px;

// height
$height__home-header: 100px;
$height__home-content: 80%;
$height__home-footer: 80px;
// color
$color__default: #ffffff;
$color__gray: #ddd;
$color__light-black: #666;
$color__blue: #030077;
$color__yellow: #ffff00;
$color__gold: #ffd700;
$color__red: #DB3535;
