// font size
$font-size__home-title: 36px;
$font-size__small: 14px;
// font family
$font-family__default: "Courier New", "MS PGothic", sans-serif;
// width
$width__home-contents-side: 200px;
$width__home-contents-main: 450px;
$width__home-contents-works: 300px;
// height
$height__home-header: 15%;
$height__home-content: 77%;
$height__home-footer: 8%;
// color
$color__default: #ffffff;
$color__gray: #ddd;
$color__light-black: #666;
$color__blue: #030077;
$color__yellow: #ffff00;
$color__gold: #ffd700;
$color__red: #DB3535;
